<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="UTF-8"/>
	<title>Investment list demo</title>

	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js" type="text/javascript"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	<!--suppress HtmlUnknownTarget -->
	<script src="js/app.js" type="text/javascript"></script>

	<!--suppress HtmlUnknownTarget -->
	<link rel='shortcut icon' type='image/x-icon' href='img/favicon.png'/>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<!--suppress HtmlUnknownTarget -->
	<link rel="stylesheet" type="text/css" href="css/flags/flags.min.css"/>
	<!--suppress HtmlUnknownTarget -->
	<link rel="stylesheet" type="text/css" href="css/app.css"/>

	<!-- jsrender templates-->
	<script id="loanRow-tmpl" type="text/html">
		<tr data-id="{{>id}}" class="loanRow">
			<td>
				<!--suppress HtmlUnknownTarget -->
				<img src="css/flags/blank.png" class="flag flag-{{:~lowerCase(countryCode)}}" alt="{{:~lowerCase(countryCode)}}"/></td>
			<td>{{>borrowerTitle}}</td>
			<td>{{>term}}
				<small>{{>termUnit.toLowerCase()}}</small>
			</td>
			<td>{{>interestRate}} %</td>
			<td>{{:~formatCurrency(amount)}}</td>
			<td>{{:~formatCurrency(availableToInvest)}}</td>
			{{if availableToInvest > 0 }}
			<td>
				<span class="input-group col-sm-9">
					<span class="input-group-addon">&euro;</span>
					<input data-id="{{>id}}" data-availableToInvest="{{:~formatCurrency(availableToInvest)}}" class="invest-amount form-control currencyInput" type="text" maxlength="9" title="invest amount" placeholder="0.00"/>
				</span>
			</td>
			<td>
				<span class="input-group">
						<button data-id="{{>id}}" class="invest-button btn btn-primary">Invest</button>
				</span>
			</td>
			{{else}}
			<td colspan="2">
				<span class="full-invested">full invested</span>
			</td>
			{{/if}}
		</tr>
	</script>

	<script id="myInvestmentRow-tmpl" type="text/html">
		<tr data-id="{{>id}}" class="loanRow">
			<td>{{>investmentDate}}</td>
			<td>{{:~formatCurrency(amount)}}</td>
			<td>{{>term}}
				<small>{{>termUnit.toLowerCase()}}</small>
			</td>
			<td>{{>interestRate}} %</td>
		</tr>
	</script>

	<script id="investor-profile-welcome-tmpl" type="text/html">
		<div class="user-welcome row">
			<div class="col-sm-2"><span class="glyphicon glyphicon-user"></span></div>
			<div class="col-sm-10">{{>email}}</div>
		</div>
	</script>

	<script id="investor-profile-balance-tmpl" type="text/html">
		<div class="user-balance row">
			<div class="col-sm-2"><span class="glyphicon glyphicon-eur"></span></div>
			<div class="col-sm-10">{{:~formatCurrency(available)}}</div>
		</div>
	</script>
</head>
<body>

<div class="container-fluid">
	<div id="header" class="row">
		<div class="col-sm-9">
			<h2>Loans investments demo page</h2>
		</div>
		<div class="col-sm-3">
			<span id="profile-summary"></span>
		</div>
	</div>
	<div id="content" class="row">
		<div class="col-sm-8">
			<div class="table-responsive">
				<table class="table table-striped">
					<caption>Loans available</caption>
					<thead>
					<tr>
						<th>Country</th>
						<th>Borrower</th>
						<th>Term</th>
						<th>Interest Rate</th>
						<th>Amount</th>
						<th>Available to invest</th>
						<th colspan="2">&nbsp;</th>
					</tr>
					</thead>
					<tbody id="loanRows"></tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="table-responsive">
				<table class="table table-striped">
					<caption>My investments</caption>
					<thead>
					<tr>
						<th>Date</th>
						<th>Amount</th>
						<th>Term</th>
						<th>Interest Rate</th>
					</tr>
					</thead>
					<tbody id="myInvestmentsRows"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>